@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* */
.custom-field.one input {
    background: none;
    border: 2px solid #ddd;
}
.custom-field.one input:valid,
.custom-field.one input:focus {
    border-color: #222;
}
